@import "homeHeroImg";
@import "fonts";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);

  header {
    width: 100vw;
    min-height: 3vh;
    padding: 15px 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
    //
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MuliBold";

    .logo {
      font-size: 1.2em;
      color: #000;
    }
  }
}
